--incremental Generating... 
0s---
interface Props {
	moto: string;
	logo:string;
	destacados1:string;
	destacados2:string;
	alt1:string;
	alt2:string;
}
const {logo} = Astro.props;
const {moto} = Astro.props;
const {destacados1} = Astro.props;
const {destacados2} = Astro.props;
const {alt1} = Astro.props;
const {alt2} = Astro.props;
---


<section class="m-12" id="motos">
	<div class="flex items-center place-content-center flex-col top w-[49%]">
		<img class="w-[400px]"  src={logo} alt={alt1}>
		<img class="w-[450px]" src={moto} alt={alt2}>
		<div class="flex flex-row items-center place-content-center">
		<div class="w[400px] right-28 flex items-start flex-col">
			<h1 class="font-medium text-xl">DESTACADOS</h1>
			<p class="font-normal">{destacados1}<br>{destacados2}</p>
		</div>
		<button id="btn">Ver mas</button>
	</div>
	</div>
</section>

<style>
	*{
		font-family: "Inter";
	}
	#btn{
		background: lawngreen;
		padding: 3px 25px;
		border-radius:7px;
		font-size: 1.2em;
		color: rgb(243, 236, 236);
		
		font-weight: 700;
	}
</style>